<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="userId">First name</label>
    <input type="text" th:field="*{userId}" id="userId" placeholder="First Name">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>